In [1]:
# 판다스와 넘파이를 불러와서 파일 업로드
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/micke/Desktop/X_mangchi/Naver_movie_crawling/2021-07-27-10-04-49-블랙위도우 평점리뷰.csv')

In [2]:
# 데이터 분석
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5970 entries, 0 to 5969
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화리뷰    5481 non-null   object
 1   영화평점    5970 non-null   int64
dtypes: int64(1), object(1)
memory usage: 93.4+ KB

                                              영화리뷰  영화평점
0                              막눈이 봐도 블랙 위도우 헌정 영화    10
1              역시 마블입니다. 영화관에서 이렇게 가슴 웅장해진적 오랜만이네요    10
2                                     위도우의 마지막 이야기     8
3                                      이제 못보는건가 ㅠㅠ    10
4  흠잡을게 없는 영화    상영시간이 긴대도  불구하고 지루할 틈이 없는  이게 영화지    10

In [3]:
# na값 있는 행 삭제
# df.isnull()

df.dropna(inplace = True)

In [4]:
# 평점 9이상은 1로, 4이하는 0으로 라벨링
# df['label'] = np.select([df.영화평점 > 8], [1], default=0)
# df[:50]
def df_to_label(영화평점):
    if 영화평점 > 8:
        return 1
    elif 영화평점 < 5:
        return 0
df['label'] = df['영화평점'].apply(lambda x: df_to_label(x))
df.head()

                                              영화리뷰  영화평점  label
0                              막눈이 봐도 블랙 위도우 헌정 영화    10    1.0
1              역시 마블입니다. 영화관에서 이렇게 가슴 웅장해진적 오랜만이네요    10    1.0
2                                     위도우의 마지막 이야기     8    NaN
3                                      이제 못보는건가 ㅠㅠ    10    1.0
4  흠잡을게 없는 영화    상영시간이 긴대도  불구하고 지루할 틈이 없는  이게 영화지    10    1.0

In [5]:
# label 컬럼의 na값 삭제
df.dropna(inplace=True)

In [6]:
# label 컬럼의 타입 int로 바꿔주기
df['label'] = df['label'].astype(int)

In [7]:
# 영화평점 label 삭제
df.drop(['영화평점'], axis = 1, inplace = True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4347 entries, 0 to 5969
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영화리뷰    4347 non-null   object
 1   label   4347 non-null   int32
dtypes: int32(1), object(1)
memory usage: 84.9+ KB

In [9]:
# 중복값 삭제
df.drop_duplicates(subset=['영화리뷰'], inplace=True)

In [10]:
# 데이터 저장
df.to_csv('C:/Users/micke/Desktop/X_mangchi/Naver_movie_processing/2021-07-27-20-41-49-블랙위도우 평점리뷰.txt', sep = '\t')